body{
    font-family: Arial,sans-serif;
    margin : 0;
    padding : 0;
}
header{
    background : navy;
    color : white;
    text-align : center;
    padding :20px;
}
section{
    padding : 20px;
    justify-content : center;
}
footer{
    background : black;
    color : white;
    text-align : center;
    padding : 10px;
}